body {
  padding: 50px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif; }
  body header {
    width: 70%;
    margin: auto; }
  body #main {
    width: 70%;
    margin: auto; }

a {
  color: #00B7FF; }

.delete {
  float: right; }

.emploee {
  display: flow-root; }
  .emploee div {
    float: left; }
    .emploee div h4 {
      word-wrap: break-word; }

#creatingMember {
  padding: 5px; }
  #creatingMember #nameMember {
    width: 40%;
    float: left; }

#setingsContainer .settings {
  width: 40%;
  float: left; }

@media only screen and (max-width: 768px) {
  header {
    width: 100%; }
  #main {
    width: 100%; } }

#calendar {
  float: right;
  margin-right: 25%; }

#selectChart {
  width: 25%;
  float: left;
  margin-right: 5px;
  word-wrap: break-word; }

#canvasContainer {
  width: 65%;
  height: 360px;
  position: relative;
  float: right; }
