<div>
    <div id="selectMember">
        <label >Вибрати учасника команди:</label>
        <br/>

        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action"ng-repeat="x in listMembers" data-id="{{x.id}}" class="nameOfMember" ng-click="change(x.id,$event)">{{x.name}}</button>
        </div>
    </div>

    <br/>
    <canvas id="bar" class="chart chart-bar"
            chart-data="data" chart-labels="labels" chart-options="options" chart-series="series">
    </canvas>
</div>
