<div>
    <div id="selectChart">
        <label >Вибрати учасника команди:</label>
        <br/>

        <div class="list-group">
            <button type="button"
                    class="list-group-item list-group-item-action"
                    ng-repeat="x in vm.listMembers" data-id="{{x.id}}"
                    class="nameOfMember" ng-click="vm.change(x.id,$event)">
                <p>{{x.name}}</p>
            </button>
        </div>
    </div>
    <br/>
    <div  id="canvasContainer">
        <canvas id="bar"
                class="chart chart-bar"
                style="display: block; height: 360px;"
                chart-data="vm.data"
                chart-labels="vm.labels"
                chart-options="vm.options"
                chart-series="vm.series">
        </canvas>
    </div>

</div>
