<!-- about.html -->
<div id="setingsContainer">
   
    <div class="settings">
        <div id="selectMember">
            <label for="selMember">Учасника команди:</label>
            <select ng-model="selectedMemb" class="form-control"  id="selMember" ng-change="clearCalendar()">
                <option ng-repeat="x in listMembers" 
                        ng-selected="$first"
                        value="{{x.name}}" 
                        data-id="{{x.id}}" 
                        class="nameOfMember">{{x.name}}</option>
            </select>
        </div>
        <div class="selectAction">

            <label for="selDay">Дні:</label>
            <select ng-model="WorkingOrHoliday" class="form-control" id="selDay" ng-change="clearCalendar()">
                <option>Відпрацьовані</option>
                <option>Пропущені</option>
            </select>
        </div>
    </div>

    <div id="calendar" class="date"></div>

</div>