<!-- about.html -->
<div id="setingsContainer">
   
    <div class="settings">
        <div id="selectMember">
            <label for="selMember">Учасника команди:</label>
            <select ng-model="vm.selectedMemb" class="form-control"  id="selMember" ng-change="vm.clearCalendar()">
                <option ng-repeat="x in vm.listMembers" 
                        ng-selected="$first"
                        value="{{x.name}}" 
                        data-id="{{x.id}}" 
                        class="nameOfMember">{{x.name}}</option>
            </select>
        </div>
        <div class="selectAction">

            <label for="selDay">Дні:</label>
            <select ng-model="vm.WorkingOrHoliday" class="form-control" id="selDay" ng-change="vm.clearCalendar()">
                <option>Відпрацьовані</option>
                <option>Пропущені</option>
            </select>
        </div>
    </div>
    <calendar-Directive></calendar-Directive>

</div>